<div class="paneSection paneSection__root">
  <h1>Page Layout</h1>
  <i class="paneSection__close">close</i>

  <!-- <div class="layoutControl fg">
    <h2>Sections</h2>

  </div> -->
  <div class="sectionStylesContainer">

    <!-- Header Section -->

    <div class="sectionStyle" data-section="head">

      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Header</h2>
        <div class="sectionStyleHead__controls">
          <i class="openSectionSettings">style</i>
          <i class="duplicateSection">duplicate</i>
          <i class="deleteSection">delete</i>
          <i class="hideSection hide">view</i>
          <i class="hideSection view">hide</i>
          <i class="menuIndicator">more</i>
          <i class="dropdownIndicator">down_angle</i>
        </div>
      </div>
      <div class="sectionStyle--rowsContainer col1">
        <!-- <h3 class="bkgSettings" data-sectionname="head"><i class="bkgSettings__icon--style">style</i>Section Style<i class="bkgSettings__icon--settings">settings</i><i class="bkgSettings__icon--ellipsis">ellipsis</i></h3> -->

        <div class="sectionStyle--row">
          <div class="sectionStyle--rowHead">
            <div class="moveSection">
              <i>drag_handle</i>
            </div>
            <h2>Row 1</h2>
            <div class="sectionStyleHead__controls">
              <i class="duplicateSection">duplicate</i>
              <i class="deleteSection">delete</i>
              <i class="menuIndicator">more</i>
              <i class="dropdownIndicator">down_angle</i>
            </div>
          </div>

          <div class="sectionStyle--rowInner">

            <div class="columnStyle__core">
              <div class="columnStyle fg" data-column="1">
                <div class="moveSection">
                  <i>drag_handle</i>
                </div>
                <h3>Column 1</h3>
                <div class="columnStyle__controls">
                  <i class="openColumnSettings">styles</i>
                  <i class="duplicateColumn">duplicate</i>
                  <i class="deleteColumn">delete</i>
                  <i class="menuIndicator">more</i>
                </div>
              </div>
            </div>
            <div class="addColumn fg"><i>add_circle</i><span>Add a Column</span></div>
          </div>
        </div>

        <!-- <div class="addSection fg"><i>add_circle</i><span>Add a Row</span></div> -->
      </div>
    </div>

    <!-- Hero Section -->

    <div class="sectionStyle" data-section="hero">

      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Hero Section</h2>
        <div class="sectionStyleHead__controls">
          <i class="openSectionSettings">style</i>
          <i class="duplicateSection">duplicate</i>
          <i class="deleteSection">delete</i>
          <i class="hideSection hide">view</i>
          <i class="hideSection view">hide</i>
          <i class="menuIndicator">more</i>
          <i class="dropdownIndicator">down_angle</i>
        </div>
      </div>
      <div class="sectionStyle--rowsContainer">
        <!-- <h3 class="bkgSettings" data-sectionname="hero"><i class="bkgSettings__icon--style">style</i>Section Style<i class="bkgSettings__icon--settings">settings</i><i class="bkgSettings__icon--ellipsis">ellipsis</i></h3> -->

        <div class="sectionStyle--row">
          <div class="sectionStyle--rowHead">
            <div class="moveSection">
              <i>drag_handle</i>
            </div>
            <h2>Row 1</h2>
            <div class="sectionStyleHead__controls">
              <i class="duplicateSection">duplicate</i>
              <i class="deleteSection">delete</i>
              <i class="menuIndicator">more</i>
              <i class="dropdownIndicator">down_angle</i>
            </div>
          </div>

          <div class="sectionStyle--rowInner">

            <div class="columnStyle__core">
              <div class="columnStyle fg" data-column="1">
                <div class="moveSection">
                  <i>drag_handle</i>
                </div>
                <h3>Column 1</h3>
                <div class="columnStyle__controls">
                  <i class="openColumnSettings">styles</i>
                  <i class="duplicateColumn">duplicate</i>
                  <i class="deleteColumn">delete</i>
                  <i class="menuIndicator">more</i>
                </div>
              </div>

              <div class="columnStyle fg" data-column="2">
                <div class="moveSection">
                  <i>drag_handle</i>
                </div>
                <h3>Column 2</h3>
                <div class="columnStyle__controls">
                  <i class="openColumnSettings">styles</i>
                  <i class="duplicateColumn">duplicate</i>
                  <i class="deleteColumn">delete</i>
                  <i class="menuIndicator">more</i>
                </div>
              </div>
            </div>
            <div class="addColumn fg"><i>add_circle</i><span>Add a Column</span></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Countdown Section -->

    <div class="sectionStyle" data-section="countdown">

      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Registration Countdown</h2>
        <div class="sectionStyleHead__controls">
          <i class="openSectionSettings">style</i>
          <i class="duplicateSection">duplicate</i>
          <i class="deleteSection">delete</i>
          <i class="hideSection hide">view</i>
          <i class="hideSection view">hide</i>
          <i class="menuIndicator">more</i>
          <i class="dropdownIndicator">down_angle</i>
        </div>
      </div>
      <div class="sectionStyle--rowsContainer col1">
        <!-- <h3 class="bkgSettings" data-sectionname="countdown"><i class="bkgSettings__icon--style">style</i>Section Style<i class="bkgSettings__icon--settings">settings</i><i class="bkgSettings__icon--ellipsis">ellipsis</i></h3> -->

        <div class="sectionStyle--row">
          <div class="sectionStyle--rowHead">
            <div class="moveSection">
              <i>drag_handle</i>
            </div>
            <h2>Row 1</h2>
            <div class="sectionStyleHead__controls">
              <i class="duplicateSection">duplicate</i>
              <i class="deleteSection">delete</i>
              <i class="menuIndicator">more</i>
              <i class="dropdownIndicator">down_angle</i>
            </div>
          </div>

          <div class="sectionStyle--rowInner">

            <div class="columnStyle__core">
              <div class="columnStyle fg" data-column="1">
                <div class="moveSection">
                  <i>drag_handle</i>
                </div>
                <h3>Column 1</h3>
                <div class="columnStyle__controls">
                  <i class="openColumnSettings">styles</i>
                  <i class="duplicateColumn">duplicate</i>
                  <i class="deleteColumn">delete</i>
                  <i class="menuIndicator">more</i>
                </div>
              </div>
            </div>
            <div class="addColumn fg"><i>add_circle</i><span>Add a Column</span></div>
          </div>
        </div>
      </div>
    </div>


    <!-- Footer Section -->

    <div class="sectionStyle" data-section="footer">

      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Footer</h2>
        <div class="sectionStyleHead__controls">
          <i class="openSectionSettings">style</i>
          <i class="duplicateSection">duplicate</i>
          <i class="deleteSection">delete</i>
          <i class="hideSection hide">view</i>
          <i class="hideSection view">hide</i>
          <i class="menuIndicator">more</i>
          <i class="dropdownIndicator">down_angle</i>
        </div>
      </div>
      <div class="sectionStyle--rowsContainer col1">
        <!-- <h3 class="bkgSettings" data-sectionname="footer"><i class="bkgSettings__icon--style">style</i>Section Style<i class="bkgSettings__icon--settings">settings</i><i class="bkgSettings__icon--ellipsis">ellipsis</i></h3> -->

        <div class="sectionStyle--row">
          <div class="sectionStyle--rowHead">
            <div class="moveSection">
              <i>drag_handle</i>
            </div>
            <h2>Row 1</h2>
            <div class="sectionStyleHead__controls">
              <i class="duplicateSection">duplicate</i>
              <i class="deleteSection">delete</i>
              <i class="menuIndicator">more</i>
              <i class="dropdownIndicator">down_angle</i>
            </div>
          </div>
          <div class="sectionStyle--rowInner">

            <div class="columnStyle__core">
              <div class="columnStyle fg" data-column="1">
                <div class="moveSection">
                  <i>drag_handle</i>
                </div>
                <h3>Column 1</h3>
                <div class="columnStyle__controls">
                  <i class="openColumnSettings">styles</i>
                  <i class="duplicateColumn">duplicate</i>
                  <i class="deleteColumn">delete</i>
                  <i class="menuIndicator">more</i>
                </div>
              </div>
            </div>
            <div class="addColumn fg"><i>add_circle</i><span>Add a Column</span></div>
          </div>
        </div>
      </div>
    </div>

    <!-- MultiRow Test Section -->

    <div class="sectionStyle" data-section="multi">

      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Multi Row Test</h2>
        <div class="sectionStyleHead__controls">
          <i class="openSectionSettings">style</i>
          <i class="duplicateSection">duplicate</i>
          <i class="deleteSection">delete</i>
          <i class="hideSection hide">view</i>
          <i class="hideSection view">hide</i>
          <i class="menuIndicator">more</i>
          <i class="dropdownIndicator">down_angle</i>
        </div>
      </div>
      <div class="sectionStyle--rowsContainer col1">
        <!-- <h3 class="bkgSettings" data-sectionname="multi"><i class="bkgSettings__icon--style">style</i>Section Style<i class="bkgSettings__icon--settings">settings</i><i class="bkgSettings__icon--ellipsis">ellipsis</i></h3> -->

        <div class="sectionStyle--row">
          <div class="sectionStyle--rowHead">
            <div class="moveSection">
              <i>drag_handle</i>
            </div>
            <h2>Row 1</h2>
            <div class="sectionStyleHead__controls">
              <i class="duplicateSection">duplicate</i>
              <i class="deleteSection">delete</i>
              <i class="menuIndicator">more</i>
              <i class="dropdownIndicator">down_angle</i>
            </div>
          </div>
          <div class="sectionStyle--rowInner">

            <div class="columnStyle__core">
              <div class="columnStyle fg" data-column="1">
                <div class="moveSection">
                  <i>drag_handle</i>
                </div>
                <h3>Column 1</h3>
                <div class="columnStyle__controls">
                  <i class="openColumnSettings">styles</i>
                  <i class="duplicateColumn">duplicate</i>
                  <i class="deleteColumn">delete</i>
                  <i class="menuIndicator">more</i>
                </div>
              </div>
            </div>
            <div class="addColumn fg"><i>add_circle</i><span>Add a Column</span></div>
          </div>
        </div>

        <!-- Row 2 -->

        <div class="sectionStyle--row">
          <div class="sectionStyle--rowHead">
            <div class="moveSection">
              <i>drag_handle</i>
            </div>
            <h2>Row 2</h2>
            <div class="sectionStyleHead__controls">
              <i class="duplicateSection">duplicate</i>
              <i class="deleteSection">delete</i>
              <i class="menuIndicator">more</i>
              <i class="dropdownIndicator">down_angle</i>
            </div>
          </div>
          <div class="sectionStyle--rowInner">

            <div class="columnStyle__core">
              <div class="columnStyle fg" data-column="1">
                <div class="moveSection">
                  <i>drag_handle</i>
                </div>
                <h3>Column 1</h3>
                <div class="columnStyle__controls">
                  <i class="openColumnSettings">styles</i>
                  <i class="duplicateColumn">duplicate</i>
                  <i class="deleteColumn">delete</i>
                  <i class="menuIndicator">more</i>
                </div>
              </div>
            </div>
            <div class="addColumn fg"><i>add_circle</i><span>Add a Column</span></div>
          </div>
        </div><!-- End Row 2 -->

      </div>
    </div>


  </div>
  <div class="addSection fg"><i>add_circle</i><span>Add a Section</span></div>
</div>

{% include settingsPane.html %}
