<div
  class="builderSection"
  id="builderSection__head"
  data-id="head"
  data-name="Page Header"
  data-bgcolor="FF792B"
  data-bgimage="null"
  data-pt="0"
  data-pr="0"
  data-pb="0"
  data-pl="0"
>
  <div class="sectionName"><span>Header</span></div>
  <div class="sectionTrigger"><i>settings</i></div>
  <div class="builderSection__core">
    <div class="builderRow">
      <div
        class="builderColumn"
        data-column="1"
        data-align="center"
        data-bgcolor="null"
        data-bgimage="null"
        data-pt="0"
        data-pr="0"
        data-pb="0"
        data-pl="0"
      >
        <div
          class="builderColumn__core"
          data-pt="0"
          data-pr="0"
          data-pb="0"
          data-pl="0"
        >
          <div class="widgetRow">
            <div class="widget">
              {% include widgetControls.html %}
              <img class="logoImg" src="images/seo-guru.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="builderSection"
  id="builderSection__hero"
  data-id="hero"
  data-name="Hero Background"
  data-bgcolor="FFFFFF"
  data-bgimage="bkg.jpg"
  data-pt="0"
  data-pr="0"
  data-pb="0"
  data-pl="0"
>
  <div class="sectionName"><span>Hero Section</span></div>
  <div class="sectionTrigger"><i>settings</i></div>
  <div class="builderSection__core">
    <div class="builderRow">
      <div
        class="builderColumn"
        data-column="1"
        data-align="top"
        data-bgcolor="null"
        data-bgimage="null"
        data-pt="0"
        data-pr="0"
        data-pb="0"
        data-pl="0"
      >
        {% include builderColumn__divider.html %}
        <div
          class="builderColumn__core"
          data-pt="0"
          data-pr="0"
          data-pb="0"
          data-pl="0"
        >
          <div class="widgetRow">
            <div class="widget">
              {% include widgetControls.html %}
              <span class="heading">3 SIMPLE WAYS</span>
              <span class="subheading">TO INCREASE PROFIT WITH SEO</span>
            </div>
          </div>
          <div class="widgetRow">
            <div class="widget">
              {% include widgetControls.html %}
              <div class="hr"></div>
            </div>
          </div>
          <div class="widgetRow">
            <div class="widget">
              {% include widgetControls.html %}
              <span class="joinText">Join our live webinar</span>
              <span class="dateText">SEPT 30, 2015 <span class="divider">//</span> 3:00PM CST</span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="builderColumn"
        data-column="2"
        data-align="top"
        data-bgcolor="null"
        data-bgimage="null"
        data-pt="0"
        data-pr="0"
        data-pb="0"
        data-pl="0"
      >
        {% include builderColumn__divider.html %}
        <div
          class="builderColumn__core"
          data-pt="0"
          data-pr="0"
          data-pb="0"
          data-pl="0"
        >
          <div class="widgetRow">
            <div class="widget">
              {% include widgetControls.html %}
              <div class="fakeForm">
                <input class="fakeForm__field fakeForm__field--name" placeholder="Name" type="text" />
                <input class="fakeForm__field fakeForm__field--email" placeholder="Email" type="email" />
                <button class="fakeForm__button">SIGN ME UP</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="builderSection"
  id="builderSection__countdown"
  data-id="countdown"
  data-name="Registration Countdown"
  data-bgcolor="656564"
  data-bgimage="bkg.jpg"
  data-pt="2"
  data-pr="0"
  data-pb="2"
  data-pl="0"
>
  <div class="sectionName"><span>Registration Countdown</span></div>
  <div class="sectionTrigger"><i>settings</i></div>
  <div class="builderSection__core">
    <div class="builderRow">
      <div
        class="builderColumn"
        data-column="1"
        data-align="center"
        data-bgcolor="null"
        data-bgimage="null"
        data-pt="0"
        data-pr="1"
        data-pb="0"
        data-pl="1"
      >
        <div
          class="builderColumn__core"
          data-pt="0"
          data-pr="0"
          data-pb="0"
          data-pl="0"
        >
          <div class="widgetRow">
            <div class="widget">
              {% include widgetControls.html %}
              <span class="countdownText">Registration Closes In</span>
            </div>
          </div>
          <div class="widgetRow">
            <div class="widget">
              {% include widgetControls.html %}
              <img class="countdownImg" src="images/countdownTimer.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer Section -->
<div
  class="builderSection"
  id="builderSection__footer"
  data-id="footer"
  data-name="Footer"
  data-bgcolor="000000"
  data-bgimage="null"
  data-pt="0"
  data-pr="0"
  data-pb="0"
  data-pl="0"
>
  <div class="sectionName"><span>Footer</span></div>
  <div class="sectionTrigger"><i>settings</i></div>
  <div class="builderSection__core">
    <div class="builderRow">
      <div
        class="builderColumn"
        data-column="1"
        data-align="center"
        data-bgcolor="null"
        data-bgimage="null"
        data-pt="0"
        data-pr="0"
        data-pb="0"
        data-pl="0"
      >
        <div
          class="builderColumn__core"
          data-pt="0"
          data-pr="0"
          data-pb="0"
          data-pl="0"
        >
          <div class="widgetRow">
            <div class="widget">
              {% include widgetControls.html %}
              &copy; SEO GURU 2016.  All Rights Reserved.
            </div>
            <div class="widget">
              {% include widgetControls.html %}
              <a class="footerSocialLink" href="http://facebook.com" target="_blank">Facebook</a>
              <a class="footerSocialLink" href="http://linkedin.com" target="_blank">LinkedIn</a>
              <a class="footerSocialLink" href="http://twitter.com" target="_blank">Twitter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Multirow Test -->
<div
  class="builderSection"
  id="builderSection__multi"
  data-id="multi"
  data-name="Multi Row Test"
  data-bgcolor="FF792B"
  data-bgimage="null"
  data-pt="0"
  data-pr="0"
  data-pb="0"
  data-pl="0"
>
  <div class="sectionName"><span>Multi Row Test</span></div>
  <div class="sectionTrigger"><i>settings</i></div>
  <div class="builderSection__core">
    <!-- Row 1 -->
    <div class="builderRow">
      <div
        class="builderColumn"
        data-column="1"
        data-align="center"
        data-bgcolor="null"
        data-bgimage="null"
        data-pt="0"
        data-pr="0"
        data-pb="0"
        data-pl="0"
      >
        <div
          class="builderColumn__core"
          data-pt="0"
          data-pr="0"
          data-pb="0"
          data-pl="0"
        >
          <div class="widgetRow">
            <div class="widget">
              {% include widgetControls.html %}
              Row 1 is Here!
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Row 2 -->

    <div class="builderRow">
      <div
        class="builderColumn"
        data-column="2"
        data-align="center"
        data-bgcolor="null"
        data-bgimage="null"
        data-pt="0"
        data-pr="0"
        data-pb="0"
        data-pl="0"
      >
        <div
          class="builderColumn__core"
          data-pt="0"
          data-pr="0"
          data-pb="0"
          data-pl="0"
        >
          <div class="widgetRow">
            <div class="widget">
              {% include widgetControls.html %}
              And I'm Row 2!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
