<!-- PAGE STYLES -->
<!-- <div class="paneSection paneSection__root globalPageStyles"> -->
<!-- <div class="stylesPane stylesPane__page"> -->
  <!-- <header class="stylesPane__head fg">
    <i class="closeSettingsPane">left_angle</i>
    <h1>Page Settings</h1>
  </header> -->

  <h1>Page Styles</h1>

  <div class="stylesPane__option stylesPane__option--background">
    <h3 class="stylesPane__option__name">Background</h3>

    <div class="fg stylesPane__option__strip option--bgcolor">
      <div class="option__label">Color</div>
      <div class="fl option__setting">
        <div class="colorOption colorOption--FFFFFF" data-color="FFFFFF"></div>
        <div class="colorOption colorOption--FF792B" data-color="FF792B"></div>
        <div class="colorOption colorOption--0069FF" data-color="0069FF"></div>
        <div class="colorOption colorOption--32C88C" data-color="32C88C"></div>
        <div class="colorOption colorOption--FED200" data-color="FED200"></div>
        <div class="colorOption colorOption--000000" data-color="000000"></div>
        <div class="colorOption colorOption--656564" data-color="656564"></div>
        <div class="colorOption removeColor" data-color="null"><i>unavailable</i></div>
      </div>
    </div>

    <div class="fg stylesPane__option__strip option--bgimage">
      <div class="option__label">Image</div>
      <div class="option__setting setting__bgimage noimage fg">
        <span>Choose Image</span>
        <i class='removeimage'>unavailable</i>
        <i class='noimage'>image_placeholder</i>
      </div>
    </div>

    <!--<div class="stylesPane__option__choiceWrapper option--bgposition disabled">
      <div class="option__label option__label--long">Position</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--fill"><i>check</i>Fill</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--center"><i>check</i>Center</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--repeat"><i>check</i>Repeat</div>
    </div>-->
  </div>

  <!--<div class="stylesPane__option stylesPane__option--pageWidth">
    <h3 class="stylesPane__option__name">Page Width</h3>

    <div class="stylesPane__option__choiceWrapper option--bgwidth">
      <div class="fg stylesPane__option__choice stylesPane__option__choice--small"><i>check</i>Small</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--medium isActive"><i>check</i>Medium</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--large"><i>check</i>Large</div>
    </div>
  </div>-->

<!-- </div> -->
