// colors
//

//Import Bourbon Mixin Library -- for some reason it won't work in the index.scss
//@import "bourbon/bourbon";

$lp-blue: #0069FF;

$lp-blue-hover: #0055CC;

$lp-red: #FA3246;

$lp-red-hover: #C72838;

$half-blue: #BCDFFF;

$default-gray: #C0C2C4;

$weird-brown: #F2F4F7;

$navy: #020020;

$primary-light: #4C515D;

$secondary-light: #797F89;

$primary-dark: #B1BACC;

$primary-dark-dim: rgba($primary-dark,.4);

// shadows
//

@mixin plane-1 {
  box-shadow: 0px rem(1) rem(3) rgba(0,0,0,.32);
}
@mixin plane-2 {
  box-shadow: 0px rem(4) rem(6) rgba(0,0,0,.26);
}
@mixin plane-3 {
  box-shadow: 0px rem(8) rem(12) rgba(0,0,0,.23);
}
@mixin plane-4 {
  box-shadow: 0px rem(12) rem(18) rgba(0,0,0,.20);
}
@mixin plane-5 {
  box-shadow: 0px rem(14) rem(24) rgba(0,0,0,.18);
}

// transition timing
//

$tr-s: 100ms;
$tr-m: 250ms;
$tr-l: 500ms;

// mixins
//

// @mixin disable {

// }

// sizes
//

// breakpoints
//
