<div class="helpModal">
  <div class="helpModal__core">
    <h1>Welcome, and thank you for helping us test our landing page builder!</h1>
    <p>Use the builder to modify the existing page to look like the image below. To do this, you will need to complete the following tasks:</p>
    <ul>
      <li>Change the background color of the header.</li>
      <li>Add spacing to the top and bottom of the header.</li>
      <li>Change the background color of the area containing the form.</li>
      <li>Add spacing to the area containing the form.</li>
      <li>Vertically center the form.</li>
      <li>Remove the registration countdown section.</li>
      <li>Always describe what you think should be happening as you explore and click the interface.</li>
    </ul>

    <p>You can return to this modal at any time by clicking the <span class="fauxHelpButton">?</span> button in the header. As you complete the task, please discuss any thoughts or concerns you may have. When you're finished, please answer the following questions:</p>

    <h2>Final product:</h2>
    <img class="newBuilderPage" src="images/newBuilderPage.jpg" />
    
    <ul>
      <li>How did you feel as you were editing the page?</li>
      <li>Did the editing process work as you expected?</li>
      <li>Did you encounter any challenges that prevented you from completing the task at hand?</li>
    </ul>

    <p>Thank you for your time and testing!</p>

    <button class="button button--primary startBuildingButton">Start building</button>
  </div>
  <button class="button button--tertiary closeHelpModal"><i>close</i></button>
</div>
