
*{box-sizing: border-box}

body {
  font-family: $base-font;
}

.password-modal {
  //display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 10000;
	width: 100vw;
	height: 100vh;
	background-color: rgba($navy, .99);
}

.password-container {
  z-index: 10000;
	position: absolute;
	top: 50%;
	left: 50%;
  @include transform(translate(-50%,-50%));
	width: rem(300);
	height: auto;
	//margin: -100px auto 0 auto;
	padding: rem(42) rem(30);
	background-color: #fff;

	.label {
		margin-bottom: rem(12);
		text-transform: none;
    font-size: rem(14);
    color: $primary-light;
    text-align: center;
	}

	input {
		width: 100%;
		border: rem(1) solid $primary-dark;
    padding: rem(9) rem(12);
    background: $white;
    border-radius: rem(3);

    color: $primary-light;
    font-size: rem(14);

		&:focus {
			outline: none;
			border: 1px solid $lp-blue;
		}
	}
	&.shake {
		animation: shake 0.4s cubic-bezier(.9,.1,.1,.9);

    & #password_input {
      border: 1px solid red;
    }
	}
}

@keyframes 'shake' {
	0% {
		transform: translate(-50%,-50%) translateZ(0px);
	}
	20%{
		transform: translate(-52%,-50%) translateZ(0px);
	}
	40%{
		transform: translate(-48%,-50%) translateZ(0px);
	}
	60%{
		transform: translate(-52%,-50%) translateZ(0px);
	}
	80%{
		transform: translate(-48%,-50%) translateZ(0px);
	}
	100% {
		transform: translate(-50%,-50%) translateZ(0px);
    border: 1px solid #ccc;
	}
}
