.builderBody {
  // flex: 1 0 auto;
  overflow-y: scroll;
  transition: background-color $tr-m;
}

.builderSection {
  box-sizing: border-box;
  width: 100%;
  // border: 2px solid transparent;
  position: relative;
  transition: background-color $tr-m;

  &.sectionHidden {
    display: none;
    visibility: visible;
  }
}

.sectionName {
  visibility: hidden;
  opacity: 0;
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  color: #fff;
  font-size: rem(12);
  line-height: 1;
  font-weight: 300;
  letter-spacing: rem(.5);

  background: $lp-blue;
  padding: rem(9) rem(12) rem(6);
  border-radius: 0 0 rem(3) 0;

  // border:dashed rgba(255,255,255,1);
  // border-width: 0 rem(1) rem(1) 0;
}

.sectionTrigger {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 2;
  // height: 3rem;
  // width: 3rem;
  height: rem(36);
  width: rem(36);

  border-radius: 50%;
  border: rem(1) solid #fff;
  background: $lp-blue;

  text-align: center;
  transition: background-color $tr-m, opacity $tr-m;
  // top: 1rem;
  // left: 1rem;
  top: rem(12);
  left: rem(12);
  cursor: pointer;
  box-shadow: 0 0 rem(1) $primary-light;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //font-size: 20px;
    font-size: rem(20);
    line-height: 1;
    color: #fff;;
    transition: color $tr-m;
    text-shadow: 0 0 rem(1) $primary-light;
  }

  &:hover {
    background-color: $lp-blue-hover;
    i { color: #fff; }
  }
}
.widgetsPane-isOpen,
.layoutPane-isOpen,
.builderPane__seoPane-isOpen {
  // .sectionTrigger {
  //   display: none;
  // }
}

.builderSection__core {
  box-sizing: border-box;
  // border: 1px solid transparent;
  width: 96%;
  //max-width: 1140px;
  max-width: rem(1140);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.builderRow {
  display: flex;
}

.builderColumn {
  // border-left: 1px solid transparent;
  // border-right: 1px solid transparent;
  box-sizing: border-box;
  flex: 1 100%;
  align-items: stretch;
  // flex: 1 1 100%;
  position: relative;
  display: flex;
  transition: background-color $tr-m;

  &.highlighted {

    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: rem(2) solid $lp-blue;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      top: rem(2);
      left: rem(2);
      right: rem(2);
      bottom: rem(2);
      border: rem(1) solid $primary-light;
    }
  }
}

.builderColumn__core {
  box-sizing: border-box;
  // height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.builderColumn__divider {
  display: none;
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  //left: -1px;
  left: rem(-1);
  //width: 2px;
  width: rem(2);
  height: 100%;
  flex-direction: column;
  user-select: none;
  cursor: col-resize;
  // transition: opacity: $tr-s;

  &:before,
  &:after {
    content: "";
    flex: 1 0 auto;
    //width: 2px;
    width: rem(2);
    box-sizing: border-box;
    border-left: rem(1) solid $primary-light;
    border-right: rem(1) solid #fff;
  }

  .divider__handle {
    // height: 18px;
    // width: 2rem;
    height: rem(18);
    width: rem(24);
    transform: translateX(-50%);
    // font-size: 28px;
    // line-height: 36px;
    font-size: rem(28);
    line-height: rem(36);
    flex: 0 1 36px;
    display: block;
    text-align: center;
    color: #fff;
    text-shadow:
      // -1px -1px 0 $primary-light,
      // 1px -1px 0 $primary-light,
      // -1px 1px 0 $primary-light,
      // 1px 1px 0 $primary-light;

      rem(-1) rem(-1) 0 $primary-light,
      rem(1) rem(-1) 0 $primary-light,
      rem(-1) rem(1) 0 $primary-light,
      rem(1) rem(1) 0 $primary-light;
  }
}

.widgetRow {
  // flex: 1 100%;
  width: 100%;
  //flex: 0 0 100%;
  flex: 1 1 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

// WIDGETS

.widget {
  border-radius: rem(3);
  box-sizing: border-box;
  flex-grow: 1;
  //padding: 1rem;
  padding: rem(12);
  text-align: center;
  position: relative;
  cursor: pointer;
  border-right: rem(1) solid transparent;
  border-bottom: rem(1) solid transparent;
  border-left: rem(1) solid transparent;
  border-top: rem(1) solid transparent;

  &.widgetResizeActive--right {
    border-top: rem(1) solid $lp-blue;
    border-bottom: rem(1) solid $lp-blue;
    border-right: rem(1) solid $lp-blue;
  }
  &.widgetResizeActive--left {
    border-top: rem(1) solid $lp-blue;
    border-bottom: rem(1) solid $lp-blue;
    border-left: rem(1) solid $lp-blue;
  }
}

.widget__divider {
  display: flex;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  // left: -11px;
  // width: 2px;
  // padding: 0 11px 0 9px;
  left: rem(-11);
  width: rem(2);
  padding: 0 rem(11) 0 rem(9);
  flex-direction: column;
  user-select: none;
  cursor: col-resize;

  &:before,
  &:after {
    content: "";
    flex: 1 0 auto;
    width: rem(2);
    box-sizing: border-box;
    border-right: rem(2) solid $lp-blue;
  }

  .divider__handle {
    // height: 18px;
    // width: 2rem;
    height: rem(18);
    width: rem(24);
    transform: translateX(-53%);
    // font-size: 28px;
    // line-height: 36px;
    font-size: rem(28);
    line-height: rem(36);
    flex: 0 1 36px;
    display: block;
    text-align: center;
    color: $lp-blue;
  }
}
.widget:first-child .widget__divider { display: none; }

.widgetControls {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: rem(-1);
  left: 0;
  z-index: 1;

  &:before {
    border-radius: rem(3) 0 0 0;
    display: block;
    content: "";
    flex: 2 0 0;
    height: rem(1);
    border-top: rem(1) solid transparent;
  }
  &:after {
    border-radius: 0 rem(3) 0 0;
    display: block;
    content: "";
    flex: 2 0 0;
    height: rem(1);
    border-top: rem(1) solid transparent;
  }
}
.widgetControls__buttons {
  // height: 26px;
  // font: 12px/32px 'Roboto';
  height: rem(26);
  font-family: $base-font;
  font-size: rem(12);
  line-height: rem(32);
  font-weight: bold;
  overflow: hidden;
  flex: 0 0 60px;
  margin-top: rem(-14);
  text-align: center;
  width: rem(60);
  padding: 0 rem(6);
  box-sizing: border-box;
  display: none;

  .widgetControl {
    flex: 1 0 auto;
    font-size: rem(18);
    color: $lp-blue;
    transition: color $tr-m;

    &:hover {
      color: $lp-blue-hover;
    }
    &__delete:hover { color: $lp-red; }
  }
}

// widget hover borders

.widget:hover {
  border-bottom: rem(1) solid $lp-blue;
}
.widget:hover:not(.widgetResizeActive--right):not(.widgetResizeActive--left) {
  border-left: rem(1) solid $lp-blue;
  border-right: rem(1) solid $lp-blue;
}

.widget:hover:not(.widgetResizeActive--right):not(.widgetResizeActive--left) {

  .widgetControls:before,
  .widgetControls:after {
    border-top: rem(1) solid $lp-blue;
  }
  .widgetControls__buttons {
    display: flex;
    display: none; // hidden for prototype
  }
}
.widget__divider:hover {
  opacity: 1;
}

// builder section hovers

.builderSection.highlighted {
  .sectionName {
    visibility: visible;
    opacity: 1;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: rem(2) solid $lp-blue;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: rem(2);
    left: rem(2);
    right: rem(2);
    bottom: rem(2);
    border: rem(1) solid $primary-light;
  }
}

.builderSection:hover,
.builderSection.highlighted {
  // border: 2px solid $lp-blue;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   z-index: 0;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   border: rem(2) solid $lp-blue;
  // }
  //
  // &:after {
  //   content: "";
  //   position: absolute;
  //   z-index: 0;
  //   top: rem(2);
  //   left: rem(2);
  //   right: rem(2);
  //   bottom: rem(2);
  //   border: rem(1) solid $primary-light;
  // }
}

.builderSection:hover {
  .sectionTrigger {
    visibility: visible;
    opacity: 1;
  }
  .builderColumn:not(:first-child) .builderColumn__divider {
    display: flex;
    opacity: 1;
  }
}


// padding
$paddings: 10;
@while $paddings >= 0 {
  .builderSection[data-pt="#{$paddings}"],
  .builderColumn__core[data-pt="#{$paddings}"] { padding-top: #{$paddings/2}rem; }
  .builderColumn[data-pt="#{$paddings}"] .builderColumn__core { margin-top: #{$paddings/2}rem; }

  .builderSection[data-pr="#{$paddings}"],
  .builderColumn__core[data-pr="#{$paddings}"] { padding-right: #{$paddings/2}rem; }
  .builderColumn[data-pr="#{$paddings}"] .builderColumn__core { margin-right: #{$paddings/2}rem; }

  .builderSection[data-pb="#{$paddings}"],
  .builderColumn__core[data-pb="#{$paddings}"] { padding-bottom: #{$paddings/2}rem; }
  .builderColumn[data-pb="#{$paddings}"] .builderColumn__core { margin-bottom: #{$paddings/2}rem; }

  .builderSection[data-pl="#{$paddings}"],
  .builderColumn__core[data-pl="#{$paddings}"] { padding-left: #{$paddings/2}rem; }
  .builderColumn[data-pl="#{$paddings}"] .builderColumn__core { margin-left: #{$paddings/2}rem; }

  $paddings: $paddings - 1
}


// vertical alignment
.builderColumn[data-align="top"] .builderColumn__core { justify-content: flex-start; }
.builderColumn[data-align="center"] .builderColumn__core { justify-content: center; }
.builderColumn[data-align="bottom"] .builderColumn__core { justify-content: flex-end; }







.fakeForm {
  width: 60%;
  margin: 0 auto;

  .fakeForm__field {
    box-sizing: border-box;
    width: 100%;
    display: block;
    // height: 5rem;
    // padding: 0 1rem;
    // margin: 0 0 1rem;

    height: rem(60);
    padding: 0 rem(12);
    margin: 0 0 rem(12);
    background: #fff;
    border: rem(1) solid $primary-light;
    outline: none;
    // font: 300 2rem/5rem 'Roboto';
    // border-radius: 3px;
    font-family: $base-font;
    font-size: rem(24);
    line-height: rem(60);
    font-weight: 300;
    border-radius: rem(3);
  }

  .fakeForm__button {
    background: #ed6a1f;
    display: block;
    border-radius: rem(3);
    outline: none;
    border: none;
    //font: 700 24px/33px Arial;
    font-family: Arial;
    font-size: rem(24);
    line-height: rem(33);
    font-weight: 700;
    color: #fff;
    padding: rem(12);
    margin: 0 auto;
    width: rem(200);
    cursor: pointer;
    transition: background $tr-m;

    &:hover {
      background: rgb(185, 85, 25);
    }
  }
}

















#builderSection__head {
  background: #ff792b;

  .logoImg {
    display: block;
    margin: 0 auto;
  }
}

#builderSection__hero {
  background-image: url('../images/bkg.jpg');
  background-size: cover;
  background-position: 50% 50%;

  span.heading {
    display: block;
    color: #fff;
    //font: bold 64px/80px 'Roboto';
    font-family: $base-font;
    font-size: rem(64);
    line-height: rem(80);
    font-weight: 800;
    text-transform: uppercase;
  }
  span.subheading {
    display: block;
    color: #fff;
    //font: bold 48px/54px 'Roboto';
    font-family: $base-font;
    font-size: rem(48);
    line-height: rem(54);
    font-weight: 800;
    text-transform: uppercase;
  }
  .hr {
    height: 0;
    width: 60%;
    margin: 0 auto;
    border-bottom: rem(1) solid #fff;
  }
  .joinText {
    display: block;
    color: #fff;
    //font: bold 20px/22.5px 'Roboto';
    font-family: $base-font;
    font-size: rem(20);
    line-height: rem(22.5);
    font-weight: 800;
    text-transform: uppercase;
  }
  .dateText {
    display: block;
    color: #fff;
    //font: bold 56px/63px 'Roboto';
    font-family: $base-font;
    font-size: rem(56);
    line-height: rem(63);
    font-weight: 800;
    text-transform: uppercase;

    .divider {
      color: #999999;
    }
  }
}

#builderSection__countdown {
  background: #656564;

  .countdownText {
    display: block;
    color: #fff;
    //font: bold 18px/20.25px 'Roboto';
    font-family: $base-font;
    font-size: rem(18);
    line-height: rem(20.25);
    font-weight: 800;
    text-transform: uppercase;
  }

  .countdownImg {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}

#builderSection__footer {
  background: #000;
  color: #fff;

  .footerSocialLink {
    display: inline;
    margin-right: rem(12);
    color: #ff792b;
    text-decoration: underline;
    &:hover {
      color: #fff;
    }
  }
}

#builderSection__multi {
  background: #ff792b;

  .logoImg {
    display: block;
    margin: 0 auto;
  }
}
