$lp-icon-floating_point: "\e91f";
$lp-icon-lp-symbol-old: "\e91e";
$lp-icon-progress_bar: "\e91d";
$lp-icon-success_line: "\e91a";
$lp-icon-smile_line: "\e91a";
$lp-icon-happy_line: "\e91a";
$lp-icon-error_line: "\e91b";
$lp-icon-exclamation_line: "\e91b";
$lp-icon-info_line: "\e91c";
$lp-icon-facebook: "\e917";
$lp-icon-linkedin: "\e918";
$lp-icon-twitter: "\e919";
$lp-icon-bulleted_list: "\e915";
$lp-icon-numbered_list: "\e916";
$lp-icon-analytics: "\e913";
$lp-icon-style: "\e914";
$lp-icon-delete: "\e912";
$lp-icon-calendar_text: "\e90f";
$lp-icon-image_text: "\e910";
$lp-icon-text: "\e911";
$lp-icon-bold: "\e90d";
$lp-icon-italic: "\e90e";
$lp-icon-code: "\e90a";
$lp-icon-link: "\e90c";
$lp-icon-format_underlined: "\e909";
$lp-icon-text_format: "\e90b";
$lp-icon-align_center: "\e905";
$lp-icon-align_justify: "\e906";
$lp-icon-align_left: "\e907";
$lp-icon-align_right: "\e908";
$lp-icon-down_arrow: "\e903";
$lp-icon-up_arrow: "\e904";
$lp-icon-wordpress: "\e902";
$lp-icon-help: "\e901";
$lp-icon-pending: "\e900";
$lp-icon-horizontal_orientation: "\e805";
$lp-icon-vertical_orientation: "\e806";
$lp-icon-google_plus: "\e804";
$lp-icon-exit_app: "\e800";
$lp-icon-space: "\e60a";
$lp-icon-line: "\e609";
$lp-icon-button: "\e608";
$lp-icon-headline: "\e607";
$lp-icon-image_placeholder: "\e606";
$lp-icon-number: "\e605";
$lp-icon-checked_box: "\e604";
$lp-icon-checked_list: "\e603";
$lp-icon-split_test: "\e601";
$lp-icon-move: "\e602";
$lp-icon-unlink: "\e600";
$lp-icon-lp-symbol: "\e60b";
$lp-icon-1_icon: "\e192";
$lp-icon-2_icon: "\e193";
$lp-icon-3_icon: "\e18d";
$lp-icon-4_icon: "\e18f";
$lp-icon-5_icon: "\e190";
$lp-icon-6_icon: "\e191";
$lp-icon-name: "\e268";
$lp-icon-add: "\e069";
$lp-icon-add_circle: "\e06b";
$lp-icon-add_outline: "\e06c";
$lp-icon-dropdown: "\e202";
$lp-icon-form: "\e272";
$lp-icon-attach_money: "\e0c1";
$lp-icon-bars: "\e007";
$lp-icon-company: "\e03e";
$lp-icon-phone: "\e03f";
$lp-icon-call_received: "\e044";
$lp-icon-comment: "\e046";
$lp-icon-check: "\e206";
$lp-icon-enclosed_checkmark: "\e25c";
$lp-icon-unchecked_box: "\e25d";
$lp-icon-check_circle: "\e281";
$lp-icon-clear_formatting: "\e0d3";
$lp-icon-close: "\e070";
$lp-icon-close_circle: "\e205";
$lp-icon-close_outline: "\e29c";
$lp-icon-down_angle: "\e10f";
$lp-icon-down_caret: "\e201";
$lp-icon-drag_handle: "\e210";
$lp-icon-duplicate: "\e071";
$lp-icon-edit: "\e074";
$lp-icon-ellipsis: "\e20f";
$lp-icon-error: "\e000";
$lp-icon-date: "\e21c";
$lp-icon-file_download: "\e0ff";
$lp-icon-file_upload: "\e100";
$lp-icon-help_circle: "\e29b";
$lp-icon-hide: "\e307";
$lp-icon-image: "\e0eb";
$lp-icon-image_library: "\e1a5";
$lp-icon-info: "\e2a2";
$lp-icon-label: "\e2a6";
$lp-icon-laptop_view: "\e11b";
$lp-icon-large_image: "\e1c2";
$lp-icon-left_angle: "\e110";
$lp-icon-left_arrow: "\e200";
$lp-icon-city: "\e247";
$lp-icon-location: "\e052";
$lp-icon-lock: "\e2ab";
$lp-icon-mail: "\e04c";
$lp-icon-map: "\e1f3";
$lp-icon-menu: "\e20e";
$lp-icon-notifications: "\e24a";
$lp-icon-notifications_off: "\e24c";
$lp-icon-notifications_outline: "\e24b";
$lp-icon-widgets: "\e0ad";
$lp-icon-person: "\e253";
$lp-icon-phone_view: "\e120";
$lp-icon-play: "\e01d";
$lp-icon-poll: "\e257";
$lp-icon-quote: "\e0de";
$lp-icon-radio_button_checked: "\e25f";
$lp-icon-radio_button_unchecked: "\e25e";
$lp-icon-remove: "\e07f";
$lp-icon-remove_circle: "\e080";
$lp-icon-remove_outline: "\e081";
$lp-icon-right_angle: "\e111";
$lp-icon-right_arrow: "\e204";
$lp-icon-search: "\e2ca";
$lp-icon-settings: "\e2cb";
$lp-icon-share: "\e25a";
$lp-icon-star: "\e299";
$lp-icon-strikethrough: "\e0e0";
$lp-icon-sort: "\e2e8";
$lp-icon-tablet_view: "\e12c";
$lp-icon-text_input: "\e0d6";
$lp-icon-text_size: "\e0df";
$lp-icon-like: "\e2ee";
$lp-icon-time: "\e08e";
$lp-icon-unavailable: "\e017";
$lp-icon-up_angle: "\e112";
$lp-icon-up_caret: "\e203";
$lp-icon-video: "\e02e";
$lp-icon-view: "\e1a8";
$lp-icon-tips: "\e1bf";
$lp-icon-web: "\e034";
$lp-icon-zoom_in: "\e311";
$lp-icon-zoom_out: "\e312";
