<!-- PAGE STYLES -->
<!-- <div class="stylesPane stylesPane__page">
  <header class="stylesPane__head fg">
    <i class="closeSettingsPane">left_angle</i>
    <h1>Page Settings</h1>
  </header>

  <div class="stylesPane__option stylesPane__option--background">
    <h3 class="stylesPane__option__name">Background</h3>

    <div class="fg stylesPane__option__strip option--bgcolor">
      <div class="option__label">Color</div>
      <div class="fl option__setting">
        <div class="colorOption colorOption--FFFFFF" data-color="FFFFFF"></div>
        <div class="colorOption colorOption--FF792B" data-color="FF792B"></div>
        <div class="colorOption colorOption--0069FF" data-color="0069FF"></div>
        <div class="colorOption colorOption--32C88C" data-color="32C88C"></div>
        <div class="colorOption colorOption--FED200" data-color="FED200"></div>
        <div class="colorOption colorOption--000000" data-color="000000"></div>
        <div class="colorOption colorOption--656564" data-color="656564"></div>
        <div class="colorOption removeColor" data-color="null"><i>unavailable</i></div>
      </div>
    </div>

    <div class="fg stylesPane__option__strip option--bgimage">
      <div class="option__label">Image</div>
      <div class="option__setting setting__bgimage noimage fg">
        <span>Choose Image</span>
        <i class='removeimage'>unavailable</i>
        <i class='noimage'>image_placeholder</i>
      </div>
    </div> -->

    <!--<div class="stylesPane__option__choiceWrapper option--bgposition disabled">
      <div class="option__label option__label--long">Position</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--fill"><i>check</i>Fill</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--center"><i>check</i>Center</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--repeat"><i>check</i>Repeat</div>
    </div>-->


  <!-- </div> -->


  <!--<div class="stylesPane__option stylesPane__option--pageWidth">
    <h3 class="stylesPane__option__name">Page Width</h3>

    <div class="stylesPane__option__choiceWrapper option--bgwidth">
      <div class="fg stylesPane__option__choice stylesPane__option__choice--small"><i>check</i>Small</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--medium isActive"><i>check</i>Medium</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--large"><i>check</i>Large</div>
    </div>
  </div>-->


<!-- </div> -->







<!-- SECTION STYLES -->
<div class="stylesPane stylesPane__section">
  <header class="stylesPane__head fg">
    <i class="closeSettingsPane">left_angle</i>
    <h1></h1>
  </header>

  <div class="stylesPane__option stylesPane__option--background">
    <h3 class="stylesPane__option__name">Background</h3>

    <!----><div class="fg stylesPane__option__strip option--bgcolor">
      <div class="option__label">Color</div>
      <div class="fl option__setting">
        <div class="colorOption colorOption--FFFFFF active" data-color="FFFFFF"></div>
        <div class="colorOption colorOption--FF792B" data-color="FF792B"></div>
        <div class="colorOption colorOption--0069FF" data-color="0069FF"></div>
        <div class="colorOption colorOption--32C88C" data-color="32C88C"></div>
        <div class="colorOption colorOption--FED200" data-color="FED200"></div>
        <div class="colorOption colorOption--000000" data-color="000000"></div>
        <div class="colorOption colorOption--656564" data-color="656564"></div>
        <div class="colorOption removeColor" data-color="null"><i>unavailable</i></div>
      </div>
    </div>
    <!----><div class="fg stylesPane__option__strip option--bgimage">
      <div class="option__label">Image</div>
      <div class="option__setting setting__bgimage noimage fg">
        <span>Choose Image</span>
        <i class='removeimage'>unavailable</i>
        <i class='noimage'>image_placeholder</i>
      </div>
    </div>

    <!--<div class="stylesPane__option__choiceWrapper option--bgposition disabled">
      <div class="option__label option__label--long">Position</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--fill"><i>check</i>Fill</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--center"><i>check</i>Center</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--repeat"><i>check</i>Repeat</div>
    </div>-->
  </div>

  <div class="fg stylesPane__option stylesPane__option--spacing">
    <h3 class="stylesPane__option__name">Spacing</h3>

    <div class="fg stylesPane__option__splitStrip option--topSpacing">
      <div class="option__label">Top</div>
      <div class="fg option__rotator" data-field="pt" data-val="0">
        <div class="option__rotator--decrease"><i>remove_outline</i></div>
        <div class="option__rotator--value"></div>
        <div class="option__rotator--increase"><i>add_outline</i></div>
      </div>
    </div>
    <div class="fg stylesPane__option__splitStrip option--leftSpacing">
      <div class="option__label">Left</div>
      <div class="fg option__rotator" data-field="pl" data-val="0">
        <div class="option__rotator--decrease"><i>remove_outline</i></div>
        <div class="option__rotator--value"></div>
        <div class="option__rotator--increase"><i>add_outline</i></div>
      </div>
    </div>
    <div class="fg stylesPane__option__splitStrip option--bottomSpacing">
      <div class="option__label">Bottom</div>
      <div class="fg option__rotator" data-field="pb" data-val="0">
        <div class="option__rotator--decrease"><i>remove_outline</i></div>
        <div class="option__rotator--value"></div>
        <div class="option__rotator--increase"><i>add_outline</i></div>
      </div>
    </div>
    <div class="fg stylesPane__option__splitStrip option--rightSpacing">
      <div class="option__label">Right</div>
      <div class="fg option__rotator" data-field="pr" data-val="0">
        <div class="option__rotator--decrease"><i>remove_outline</i></div>
        <div class="option__rotator--value"></div>
        <div class="option__rotator--increase"><i>add_outline</i></div>
      </div>
    </div>

  </div>
</div>







<!-- COLUMN STYLES -->
<div class="stylesPane stylesPane__column">
  <header class="stylesPane__head fg">
    <i class="closeSettingsPane">left_angle</i>
    <h1></h1>
  </header>

  <div class="stylesPane__option stylesPane__option--background">
    <h3 class="stylesPane__option__name">Background</h3>

    <!----><div class="fg stylesPane__option__strip option--bgcolor">
      <div class="option__label">Color</div>
      <div class="fl option__setting">
        <div class="colorOption colorOption--FFFFFF active" data-color="FFFFFF"></div>
        <div class="colorOption colorOption--FF792B" data-color="FF792B"></div>
        <div class="colorOption colorOption--0069FF" data-color="0069FF"></div>
        <div class="colorOption colorOption--32C88C" data-color="32C88C"></div>
        <div class="colorOption colorOption--FED200" data-color="FED200"></div>
        <div class="colorOption colorOption--000000" data-color="000000"></div>
        <div class="colorOption colorOption--656564" data-color="656564"></div>
        <div class="colorOption removeColor" data-color="null"><i>unavailable</i></div>
      </div>
    </div>
    <!----><div class="fg stylesPane__option__strip option--bgimage">
      <div class="option__label">Image</div>
      <div class="option__setting setting__bgimage noimage fg">
        <span>Choose Image</span>
        <i class='removeimage'>unavailable</i>
        <i class='noimage'>image_placeholder</i>
      </div>
    </div>

    <!--<div class="stylesPane__option__choiceWrapper option--bgposition disabled">
      <div class="option__label option__label--long">Position</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--fill"><i>check</i>Fill</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--center"><i>check</i>Center</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--repeat"><i>check</i>Repeat</div>
    </div>-->
  </div>

  <div class="stylesPane__option stylesPane__option--align">
    <h3 class="stylesPane__option__name">Align Content</h3>

    <div class="stylesPane__option__choiceWrapper">
      <div class="fg stylesPane__option__choice stylesPane__option__choice--top" data-align="top"><i>check</i>Top</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--center isActive" data-align="center"><i>check</i>Center</div>
      <div class="fg stylesPane__option__choice stylesPane__option__choice--bottom" data-align="bottom"><i>check</i>Bottom</div>
    </div>
  </div>

  <div class="fg stylesPane__option stylesPane__option--spacing">
    <h3 class="stylesPane__option__name">Spacing</h3>

    <div class="fg stylesPane__option__splitStrip option--topSpacing">
      <div class="option__label">Top</div>
      <div class="fg option__rotator" data-field="pt" data-val="0">
        <div class="option__rotator--decrease"><i>remove_outline</i></div>
        <div class="option__rotator--value">0</div>
        <div class="option__rotator--increase"><i>add_outline</i></div>
      </div>
    </div>
    <div class="fg stylesPane__option__splitStrip option--leftSpacing">
      <div class="option__label">Left</div>
      <div class="fg option__rotator" data-field="pl" data-val="0">
        <div class="option__rotator--decrease"><i>remove_outline</i></div>
        <div class="option__rotator--value">0</div>
        <div class="option__rotator--increase"><i>add_outline</i></div>
      </div>
    </div>
    <div class="fg stylesPane__option__splitStrip option--bottomSpacing">
      <div class="option__label">Bottom</div>
      <div class="fg option__rotator" data-field="pb" data-val="0">
        <div class="option__rotator--decrease"><i>remove_outline</i></div>
        <div class="option__rotator--value">0</div>
        <div class="option__rotator--increase"><i>add_outline</i></div>
      </div>
    </div>
    <div class="fg stylesPane__option__splitStrip option--rightSpacing">
      <div class="option__label">Right</div>
      <div class="fg option__rotator" data-field="pr" data-val="0">
        <div class="option__rotator--decrease"><i>remove_outline</i></div>
        <div class="option__rotator--value">0</div>
        <div class="option__rotator--increase"><i>add_outline</i></div>
      </div>
    </div>

  </div>


  <div class="fg stylesPane__option stylesPane__option--innerSpacing">
    <h3 class="stylesPane__option__name">Inner Spacing</h3>

    <div class="fg stylesPane__option__splitStrip option--topSpacing">
      <div class="option__label">Top</div>
      <div class="fg option__rotator" data-target=".builderColumn__core" data-field="pt" data-val="0">
        <div class="option__rotator--decrease"><i>remove_outline</i></div>
        <div class="option__rotator--value">0</div>
        <div class="option__rotator--increase"><i>add_outline</i></div>
      </div>
    </div>
    <div class="fg stylesPane__option__splitStrip option--leftSpacing">
      <div class="option__label">Left</div>
      <div class="fg option__rotator" data-target=".builderColumn__core" data-field="pl" data-val="0">
        <div class="option__rotator--decrease"><i>remove_outline</i></div>
        <div class="option__rotator--value">0</div>
        <div class="option__rotator--increase"><i>add_outline</i></div>
      </div>
    </div>
    <div class="fg stylesPane__option__splitStrip option--bottomSpacing">
      <div class="option__label">Bottom</div>
      <div class="fg option__rotator" data-target=".builderColumn__core" data-field="pb" data-val="0">
        <div class="option__rotator--decrease"><i>remove_outline</i></div>
        <div class="option__rotator--value">0</div>
        <div class="option__rotator--increase"><i>add_outline</i></div>
      </div>
    </div>
    <div class="fg stylesPane__option__splitStrip option--rightSpacing">
      <div class="option__label">Right</div>
      <div class="fg option__rotator" data-target=".builderColumn__core" data-field="pr" data-val="0">
        <div class="option__rotator--decrease"><i>remove_outline</i></div>
        <div class="option__rotator--value">0</div>
        <div class="option__rotator--increase"><i>add_outline</i></div>
      </div>
    </div>

  </div>
</div>
