<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    <!-- <link rel="stylesheet" href="{{ "/css/sectionColumnControls.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="{{base}}/css/sectionColumnControls.css">
  </head>

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    <script src="{{base}}/js/main.js"></script>
    <script src="{{base}}/js/mainJquery.js"></script>
    <script src="{{base}}/js/section-column-controls.js"></script>
    {% include javascript.html %}

  </body>

</html>
